@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background-color: #feedea;
    font-family: 'Poppins Semibold', sans-serif;
    color: #5d434f; 
    margin: 0;
    overflow: hidden;
}

a {
  font-style: underline;
}
  .app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .desktop {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
  }
  
  .icon {
    width: 64px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
  }
  
  .icon img {
    width: 48px;
    height: 48px;
  }
  
  .bottom-panel {
    height: 40px;
    background-color: #fcdde5;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .start-button img {
    width: 50px;
    height: 32px;
  }
  
  .window {
    width: 300px;
    background: rgb(255, 234, 222);
    border: 2px solid rgb(86, 57, 34);
    position: absolute;
    top: 100px;
    left: 100px;
    box-shadow: 2px 2px rgb(100, 84, 69);
    padding: 0px;
  }
  
  .window-header {
    background: rgb(200, 162, 123);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
  }
  
  .window-content {
    padding: 10px;
    line-height: 0.87;

  }
  
  .spotify-widget {
    width: 350px;
    background: #D9DCEB;
    padding: 5px;
    border: 2px solid rgb(118, 67, 37);
    border-radius: 6px;
    position: absolute;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  
  .app {
    width: 100vw;
    height: 100vh;
    background-color: #FEEBF0;
    overflow: hidden;
  }
  
  .desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 18px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 20px;
  }
  
  .icon img {
    width: 25px;
    height: 25px;
  }
  
  .window {
    position: absolute;
    width: 300px;
    background: #EBD9EA;
    border: 2px solid rgb(105, 74, 64);
    border-radius: 6px;
  }
  
  .window-header {
    display: flex;
    justify-content: space-between;
    background: blue;
    color: white;
  }
  
  .bottom-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #F8BCCC;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .start-button {
    width: 50px;
    height: 32px;
  }

  .window-divider {
    border-top: 2px solid #5d434f;
    margin: 0px 0;
  }
  
  .window-close {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }

  .clock {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
  }

  
  